.user-input {
    font-family: 'Karma', sans-serif;
    text-align: center;
    width: 150px
}
.home {
    margin-top: 5%;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 740px;
    padding: 10px;
    margin: 0 auto;
    justify-content: center;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: rgb(200, 200, 200);
    border: 2px solid black;
    border-radius: 5px;
    max-width: fit-content;
}

.page-wrapper p {
    font-size: large;
}

.icon {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin: 10px;
    transition: 200ms all;
}

.icon:hover{
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
}

.icon:hover .tool-tip {
    visibility: visible;
}

.icon img {
    height: 60%;
    width: 60%;
    margin: 20%;
}

.tool-tip {
    font-family: 'Karma', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    visibility: hidden;
}

.drop-down {
    font-family: 'Karma', sans-serif;
    text-align: center;
    width: 150px;
}

.bug {
    background: #92BC2C;
    box-shadow: 0 0 20px #92BC2C;
}

.dark {
    background: #595761;
    box-shadow: 0 0 20px #595761;
}

.dragon {
    background: #0C69C8;
    box-shadow: 0 0 20px #0C69C8;
}

.electric {
    background: #F2D94E;
    box-shadow: 0 0 20px #F2D94E;
}

.fire {
    background: #FBA54C;
    box-shadow: 0 0 20px #FBA54C;
}

.fairy {
    background: #EE90E6;
    box-shadow: 0 0 20px #EE90E6;
}

.fighting {
    background: #D3425F;
    box-shadow: 0 0 20px #D3425F;
}

.flying {
    background: #A1BBEC;
    box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
    background: #5F6DBC;
    box-shadow: 0 0 20px #5F6DBC;
}

.grass {
    background: #5FBD58;
    box-shadow: 0 0 20px #5FBD58;
}

.ground {
    background: #DA7C4D;
    box-shadow: 0 0 20px #DA7C4D;
}

.ice {
    background: #75D0C1;
    box-shadow: 0 0 20px #75D0C1;
}

.normal {
    background: #A0A29F;
    box-shadow: 0 0 20px #A0A29F;
}

.poison {
    background: #B763CF;
    box-shadow: 0 0 20px #B763CF;
}

.psychic {
    background: #FA8581;
    box-shadow: 0 0 20px #FA8581;
}

.rock {
    background: #C9BB8A;
    box-shadow: 0 0 20px #C9BB8A;
}

.steel {
    background: #5695A3;
    box-shadow: 0 0 20px #5695A3;
}

.water {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
}

.pokelist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.vs {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.vs-pok {
    margin: 0 10px;
}