html, body {
    background-color: #3761a8 !important;
    /*color: #feca1b;*/
    color: black;
}
.gameboy {
    width: 50%;
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center !important;
    margin: 2% auto;
    background-color: lightgrey;
    border-radius: 10px 10px 10px 10px;
    z-index: 1;
}
.gameboyGrey {
    position: absolute;
    width: 80%;
    height: 60%;
    margin-top: 2%;
    background-color: grey;
    z-index: 2;
    border-radius: 10px;
}
.gameboyScreen{
    position: relative;
    width: 70%;
    height: 55%;
    margin-top: 4%;
    z-index: 3;
    background: rgba( 189, 173, 88, 0.60 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.27 );
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
h2,
h3,
.gameboyScreen h2,
.gameboyScreen h3 {
    font-family: 'Karma', sans-serif;
}
p,
.gameboyScreen p {
    position: relative;
    width: 80%;
    margin: 2% auto;
    text-align: center;
    font-family: 'Karma', sans-serif;
}
button {
    cursor: pointer;
}
i {
    background-size: cover;
}
.arrow-left {
    position:absolute;
    background-repeat: no-repeat;
    left: 10%;
    top:75%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.arrow-up {
    position:absolute;
    background-repeat: no-repeat;
    left: 15%;
    top:70%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.arrow-right {
    position:absolute;
    background-repeat: no-repeat;
    left: 20%;
    top:75%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.arrow-down {
    position:absolute;
    background-repeat: no-repeat;
    left: 15%;
    top:80%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.aPress{
    position: absolute;
    top: 70%;
    left: 75%;
    color: white;
    background-color: #522f5b;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.bPress{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 75%;
    left: 65%;
    color: white;
    background-color: #522f5b;
}
@media only screen and (max-width: 746px) {
    .gameboy {
        width: 80%;
    }
    p,
    .gameboyScreen p {
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 3%;
    }
    .arrow-left {
        left: 11%;
        top: 75%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .arrow-up {
        left: 18%;
        top: 70%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .arrow-right {
        position:absolute;
        background-repeat: no-repeat;
        left: 25%;
        top: 75%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .arrow-down {
        position:absolute;
        background-repeat: no-repeat;
        left: 18%;
        top: 80%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}
@media only screen and (max-width: 450px) {
    .gameboy {
        width: 100%;
    }
    p,
    .gameboyScreen p {
        width: 100%;
        margin: 3% auto;
    }
}
