.Footer {
    position: relative;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
}
.fa-github {
    margin-right: 2%;
}
.mr {
    margin-right: 2%;
}
.footerParagraph {
    text-align: center !important;
    padding-left: 20%;
}
.borderRadius {
    border-radius: 30% 30% 0 0;
}


@media only screen and (max-width: 710px) { 
    .Footer {
        margin-top: 10% !important;
    }
    .footerParagraph {
        padding-left: 0%;
    }
    .mobile-margin{
        margin-bottom: 2%;
    }
    .mobMargin {
        margin-top: 2%;
    }
}