.App {
  text-align: center;
  background-color: #3761a8;
}

/*.head {
  height: auto;
  /* background-color: #ef5350; */
 /* color: white;
  box-sizing: border-box;
  position: relative;
  min-height:10vh;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 50%;
  transform-origin: bottom;
  background-image: linear-gradient(white, black, #ef5350);
}
*/
.logo {
  width: 100px;
  height:100px;
}

.hLogo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -500px;
}

.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  width: 100%;
  background-color: #ef5350;
  color: #c62828;
  font-family: karma;
  border-radius: 0 0 50% 50%;
  }
  
  .Navlink {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: #feca1b;
  }
